# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Migraciones (opcional -- normalmente SÍ se suben, ver nota abajo)

# Archivos de entorno / secretos
.env
.env.local

# Editor / IDE
.vscode/
.idea/
*.swp

# Sistema (Windows/Mac)
.DS_Store
Thumbs.db

# drf-spectacular (si generas el schema como archivo)
schema.yml
